{%- comment -%}
  Renders the country picker for the localization form

  Accepts:
    - localPosition: pass in the position in which the form is coming up to create specific IDs
{%- endcomment -%}

{%- liquid
  assign currencies = localization.available_countries | map: 'currency' | map: 'iso_code' | uniq
  assign popular_countries = localization.available_countries | where: 'popular?' | sort: 'name'

  assign show_country_filter = false
  if localization.available_countries.size > 9
    assign show_country_filter = true
  endif

  assign show_popular_countries = false
  if localization.available_countries.size > 9 and popular_countries.size > 1
    assign show_popular_countries = true
  endif

  assign show_currencies = false
  if currencies.size > 1
    assign show_currencies = true
  endif
-%}

{%- if localization.available_countries.size > 1 -%}
  <select name="country_code" id="country-selector-{{ localPosition }}" class="floating-select" aria-labelledby="{{ localPosition }}CountryLabel">
    {%- for country in localization.available_countries -%}
      <option value="{{ country.iso_code }}" {%- if country.iso_code == localization.country.iso_code %} selected{% endif %}>
        {{ country.name }} ({{ country.currency.iso_code }} {{ country.currency.symbol }})
      </option>
    {%- endfor -%}
  </select>
{%- else -%}
  <span class="current-selection">{{ localization.country.name }} ({{ localization.country.currency.iso_code }})</span>
  <input type="hidden" name="country_code" value="{{ localization.country.iso_code }}">
{%- endif -%}
