{%- comment -%}
  Renders the language picker for the localization form

  Accepts:
    - localPosition: pass in the position in which the form is coming up to create specific IDs
{%- endcomment -%}

{%- if localization.available_languages.size > 1 -%}
  <select name="locale_code" id="language-selector-{{ localPosition }}" class="floating-select" aria-labelledby="{{ localPosition }}LanguageLabel">
    {%- for language in localization.available_languages -%}
      <option value="{{ language.iso_code }}" {%- if language.iso_code == localization.language.iso_code %} selected{% endif %}>
        {{ language.endonym_name }}
      </option>
    {%- endfor -%}
  </select>
{%- else -%}
  <span class="current-selection">{{ localization.language.endonym_name }}</span>
  <input type="hidden" name="locale_code" value="{{ localization.language.iso_code }}">
{%- endif -%}
